<div class="container spacing-bottom">
  <div class="container">
    <div class="schedule">
      <% data.schedule.each do |meta| %>
      <table>
        <thead>
          <tr>
            <th><h4><%= meta.day %></h4></th>
          </tr>
        </thead>

        <% meta.schedule.each do |entry| %>
        <tbody>
          <tr>
            <td class="schedule-time"><span><%= entry.time %></span></td>
            <% if entry.type == 'info' %>
            <td class="description"><%= entry.description %></td>
            <% else %>
            <td class="description">
              <%= entry.talk %><br/>
              <%= link_to entry.speaker, "/lineup##{entry.speaker.parameterize}", class: "fancy" %>
            </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>
