---
title: Homepage
---

<%= partial 'header', locals: { home: true } %>

<div class="header">
  <div class="container">
    <h1 class="logo logo-sm">partial :: Conf -> 2018</h1>
    <h2>28 – 29 September 2018, Sofia</h2>

    <p>
      The web, lambda calculus, the meaning of life and everything else.
      Distribute yourself with some Erlang. Prevent you some runtime errors
      with Elm. Transactional memorize yourself with some Clojure… 
    </p>

    <a href="#cfp" class="btn-default btn-invert">Become a speaker</a>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'accent.png' %>
    </div>

    <div class="accent-content">
      <h2>Last September</h2>

      <a href="https://www.youtube.com/watch?v=Gs069dndIYk">
        <p>
          Do you remember the <abbr title="22nd day time of September?">21st night of September?</abbr><br>
          Love was changing the minds of pretenders<br>
          While chasing the clouds away
        </p>

        <p>
          Our hearts were ringing<br>
          In the key that our souls were singing.<br>
          As we danced in the night,<br>
          Remember how the stars stole the night away
        </p>

        <p>
          Ba de ya, say do you remember<br>
          Ba de ya, dancing in September<br>
          Ba de ya, never <abbr title="it was a very cludy day in Sofia">was a cloudy day</abbr>
        </p>
      </a>

      <%= link_to 'Videos from Partial 2017', 'https://www.youtube.com/playlist?list=PLSBN3H4lrY2UPJZwda46HdmY7sAJMZIxY', class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="light spacing-both">
  <div class="container text">
    <h2>Subscribe</h2>

    <p>
      The tickets will be out soon. Subscribe to our newsletter to be the first
      to learn about them. Your email won't be shared with partners or any
      other third party.
    </p>

    <div class="mailchimp">
      <div id="mc_embed_signup">
        <form action="//partialconf.us15.list-manage.com/subscribe/post?u=956b02b076ff39618af330bb0&amp;id=6e539c98fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
            <div class="hide"><input type="text" name="b_956b02b076ff39618af330bb0_6e539c98fc" tabindex="-1" value=""></div>
            <button class="btn-primary btn-invert" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="spacing-both" id="cfp">
  <div class="container accent-container">
    <div class="accent">
      <%= image_tag 'library_accent.png' %>
    </div>
    <div class="spotlight accent-cointainer">
      <div class="col">
        <h3>Call for Papers</h3>

        <p>
          We strive for talks about modern functional programming languages and
          technologies for the web. The timeslot is 30 to 40 minutes. What
          are we like? Here are some examples:
        </p>

        <ul>
          <li>Erlang, Elixir</li>
          <li>Clojure, ClojureScript</li>
          <li>Elm, PureScript, Haskell</li>
          <li>React, Redux</li>
          <li>Everything λ</li>
        </ul>

        <p>The deadline is 9th of April.</p>

        <div class="btn-wrapper">
          <a href="https://goo.gl/PpcTAS" class="btn-primary" target="_blank">Send proposal</a>
        </div>
      </div>
    </div>
  </div>
</div>


<%= partial 'footer' %>
