---
title: Homepage
---

<%= partial 'header', locals: { home: true } %>

<div class="header">
  <div class="container">
    <h1 class="logo logo-sm">partial :: Conf -> 2017</h1>
    <h2>22–23 September, Sofia</h2>

    <p>
      Software conference focusing on modern functional languages and
      technologies used on the web. We bring people from different parts of the
      functional world to exchange ideas.
    </p>

    <a class="btn-primary btn-invert">Sold Out!</a><Paste>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent-content">
      <h2 id="schedule">Schedule</h2>
    </div>

    <%= partial 'schedule' %>
  </div>
</div>

<div class="lineup light spacing-both">
  <div class="container section-title">
    <h2 id="speakers">Lineup</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <% data.speakers.each do |speaker| %>
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>

          <strong><%= speaker.name %></strong>
          <small><%= speaker.tagline %></small>
        </a>
      <% end %>

      <% data.trainers.each do |speaker| %>
      <div class="speaker">
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>
        </a>

        <strong><%= speaker.name %></strong>
        <small><%= speaker.tagline %></small>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="spacing-both light">
  <div class="container accent-container">
    <h2>Our partners</h2>

    <div class='index-sponsors-section'>
      <% data.sponsors.each do |meta| %>
        <% meta.sponsors.each do |sponsor| %>
          <span class="sponsor-avatar">
            <%= link_to image_tag(sponsor.logo), "/partners##{sponsor.id}" %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= partial 'footer' %>
