---
title: Homepage
---

<%= partial 'header', locals: { home: true } %>

<div class="header">
  <div class="container">
    <h1 class="logo logo-sm">partial :: Conf -> 2018</h1>
    <h2>30 November 2018, Sofia</h2>

    <p>
      The web, lambda calculus, the meaning of life and everything else.
      Distribute yourself with some Erlang. Prevent you some runtime errors
      with Elm. Transactional memorize yourself with some Clojure…
    </p>

    <a class="btn-primary btn-invert">Booked-out!</a>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <div class="accent-content">
      <h2 id="schedule">Schedule</h2>
    </div>

    <%= partial 'schedule' %>
  </div>
</div>

<div class="lineup light spacing-both">
  <div class="container section-title">
    <h2 id="speakers">Lineup</h2>
  </div>
</div>

<div class="light spacing-bottom">
  <div class="container">
    <div class="speakers">
      <% data.speakers[0..2].each do |speaker| %>
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>

          <strong><%= speaker.name %></strong>
          <small><%= speaker.talk %></small>
        </a>
      <% end %>
    </div>

    <div class="speakers">
      <% data.speakers[3..5].each do |speaker| %>
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>

          <strong><%= speaker.name %></strong>
          <small><%= speaker.talk %></small>
        </a>
      <% end %>
    </div>

    <div class="speakers">
      <% data.speakers[6..8].each do |speaker| %>
        <a href="/lineup#<%= speaker.name.parameterize %>" class="speaker">
          <div class="avatar">
            <%= image_tag speaker.image %>
          </div>

          <strong><%= speaker.name %></strong>
          <small><%= speaker.talk %></small>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="spacing-both">
  <div class="container accent-container">
    <h2>Our partners</h2>

    <div class='index-sponsors-section'>
      <% data.sponsors.each do |meta| %>
        <% meta.sponsors.each do |sponsor| %>
          <span class="sponsor-avatar">
            <%= link_to image_tag(sponsor.logo), "/partners##{sponsor.id}" %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="spacing-both">
  <div class="container">
    <h3>Call for sponsors</h3>

    <p>
      If your company is interested in supporting Partial, you can learn more
      about the partner opportunities by following the link below.
    </p>

    <a href="/prospectus.pdf" class="btn-primary">Become a partner</a>
  </div>
</div>

<div class="light spacing-both">
  <div class="container text">
    <h2 id="subscribe">Subscribe for News</h2>

    <p>
      The tickets will be out soon. Subscribe to our newsletter to be the first
      to learn about them. Your email won't be shared with partners or any
      other third party.
    </p>

    <div class="mailchimp">
      <div id="mc_embed_signup">
        <form action="//partialconf.us15.list-manage.com/subscribe/post?u=956b02b076ff39618af330bb0&amp;id=6e539c98fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required>
            <div class="hide"><input type="text" name="b_956b02b076ff39618af330bb0_6e539c98fc" tabindex="-1" value=""></div>
            <button class="btn-primary btn-invert" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%= partial 'footer' %>
